services:

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    extra_hosts:
      - "database:192.168.250.21"
      - "play.min.io:192.168.250.22"
    ports:
      - "9090:9090"
    volumes:
      - /opt/conf/prometheus.yml:/etc/prometheus/prometheus.yml
      - /opt/conf/rules.yml:/etc/prometheus/rules.yml
      - prometheus_data:/prometheus
    command:
      - '--storage.tsdb.path=/prometheus'
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - monitoring_network

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    ports:
      - "9093:9093"
    volumes:
      - /opt/conf/alertmanager.yml:/etc/alertmanager/alertmanager.yml
      - /opt/conf/telegram.tmpl:/etc/alertmanager/config/telegram.tmpl
      - /opt/conf/telegram.token:/opt/telegram.token
      - alertmanager_data:/alertmanager
      - /etc/ssl/certs:/etc/ssl/certs:ro
      - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates:ro
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
    depends_on:
      - prometheus
    networks:
      - monitoring_network
      
  node-exporter:
    image: prom/node-exporter:v1.9.1
    container_name: node-exporter
    volumes:
      - '/:/rootfs:ro,rslave'
    command:
      - '--path.rootfs=/rootfs'
    pid: host
    restart: unless-stopped
    ports:
      - "9100:9100"
    networks:
      - monitoring_network

  grafana:
    image: grafana/grafana:11.6.6 # (2025-09-21)
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - /opt/conf/provisioning/:/etc/grafana/provisioning/
      # - /opt/conf/grafana-provisioning.yaml:/etc/grafana/provisioning/datasources/datasources.yml
    depends_on:
      - prometheus
      - loki
    networks:
      - monitoring_network
    # jsonData:
    #   httpHeaderName1: "X-Scope-OrgID"
    # secureJsonData:
    #   httpHeaderValue1: "tenant1"

  loki:
    image: grafana/loki:3.5.5
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - /opt/conf/loki-config.yml:/etc/loki/config.yaml
      - loki_data:/loki
    command: -config.file=/etc/loki/config.yaml
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - monitoring_network
      
volumes:
  prometheus_data:
  alertmanager_data:
  grafana_data:
  loki_data:

networks:
  monitoring_network:
    driver: bridge  