global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
  - job_name: 'mongodb-exporter'
    static_configs:
      - targets: ['database:9216']
  - job_name: 'db-node-exporter'
    static_configs:
      - targets: ['database:9100']
  - job_name: 'minio-job'
    static_configs:
      - targets: ['play.min.io:9000']
    metrics_path: /minio/v2/metrics/cluster
  - job_name: 'minio-job-bucket'
    static_configs:
      - targets: ['play.min.io:9000']
    metrics_path: /minio/v2/metrics/bucket
  # - job_name: 'minio-job-bucket'
  #   static_configs:
  #     - targets: ['play.min.io:9000']
  #   metrics_path: /minio/v2/metrics/node
  - job_name: 'minio-node-exporter'
    static_configs:
      - targets: ['storage:9100']
  - job_name: 'balancer-node-exporter'
    static_configs:
      - targets: ['balancer:9100']
  - job_name: 'balancer-nginx-exporter'
    static_configs:
      - targets: ['balancer:9113']


alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']