services:
  rocketchat:
    image: registry.rocket.chat/rocketchat/rocket.chat:${RELEASE:-latest}
    # image: rocket.chat:6.9.5
    # image: rocketchat/rocket.chat:6.4.4
    container_name: rocketchat
    restart: unless-stopped
    # healthcheck:
    #   test: [ "CMD", "curl", "-f", "http://localhost:3000/health" ]
    #   interval: 60s
    #   timeout: 30s
    #   retries: 5
    expose:
      - ${PORT}
    ports:
      - "${HOST_PORT}:${PORT}"
      - "${METRICS_PORT:-9458}:${METRICS_PORT:-9458}"
    extra_hosts:
      - "database:192.168.250.21"
      - "storage:192.168.250.22"
      - "app-node-1:192.168.250.11"
      - "app-node-2:192.168.250.12"
      - "app-node-3:192.168.250.13"
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs:ro
      - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates:ro
    environment:
      - MONGO_URL
      - MONGO_OPLOG_URL
      - ROOT_URL
      - PORT
      - TCP_PORT
      - INSTANCE_IP
      - DEPLOY_METHOD=docker
      - DEPLOY_PLATFORM=compose
      - REG_TOKEN=${REG_TOKEN:-}
      - OVERWRITE_SETTING_Prometheus_Enabled=true
      - OVERWRITE_SETTING_Prometheus_Port="${METRICS_PORT:-9458}"
      - LICENSE_DEBUG=true
      #  TRANSPORTER: "${NATS_URL-monolith+nats://nats:4222}"
      - ADMIN_USERNAME
      - ADMIN_NAME
      - ADMIN_EMAIL
      - ADMIN_PASS
    logging:
      driver: loki
      options:
        loki-url: "http://monitor:3100/loki/api/v1/push"
        loki-tenant-id: 1
        loki-relabel-config: |
          - action: labeldrop
            regex: compose_project
          - action: labeldrop
            regex: filename

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    volumes:
      - '/:/rootfs:ro,rslave'
    command:
      - '--path.rootfs=/rootfs'
    network_mode: host
    pid: host
    restart: unless-stopped
